.feature {
  box-sizing: border-box;
  background: #000428;
  background: -webkit-linear-gradient(to bottom, #3e00b1, #2d005a);
  background: linear-gradient(to bottom, #3e00b1, #2d005a);
  color: #fff;
  padding: 1.5rem;
}
.featureHeader {
  padding-bottom: 10px;
}
.featuresImg {
  display: block;
  height: 40px;
}
.subHeading {
  font-size: large;
  padding: 10px 0;
}
.para {
  font-size: medium;
  line-height: 20px;
}
.col-4 {
  float: left;
  width: 33.33%;
  padding: 10px;
}
.row1:after {
  content: '';
  display: table;
  clear: both;
}
@media screen and (max-width: 960px) {
  .col-4 {
    width: 100%;
  }
}
